// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$black: #000;
$primary: #181717;
$success: #f2f1f1;
$secondary: rgb(88, 148, 180);
$white-transparent: #ffffff98;
$dark: #878787;

$theme-colors: (
    "white-transparent": $white-transparent,
);

//my variables

$h1-font: "Catamaran", sans-serif;
$h1-font2: "Crimson Text", serif;
$h1-font3: "Red Hat Display", sans-serif;
$h2-font: "Montserrat", sans-serif;

$title-font: "Spectral", serif;

// Spacing
$rem: 16px;
