<template>
    <div>
        <div class="parallax parallax__gallery">
            <div class="hero-center-text">
                <h2 class="hero-center-text__text">
                    GET CONSULTATION
                </h2>
            </div>
        </div>
        <div class="container col-6 mx-auto mb-5">
            <div>
                <h2 class="text-center">Write us a message!</h2>
            </div>
            <b-form @submit.prevent="onSubmit" id="submitForm">

                <b-form-group label="Your Name:" label-for="first_name" class="text-uppercase font-weight-bold">
                    <b-form-input
                        id="name"
                        v-model="first_name"
                        placeholder="Enter name"
                        name="first_name"
                    ></b-form-input>
                </b-form-group>

                <b-form-group label="Your Last Name:" label-for="last_name" class="text-uppercase font-weight-bold">
                    <b-form-input
                        id="last_name"
                        v-model="last_name"
                        placeholder="Enter surname"
                        name="last_name"

                    ></b-form-input>
                </b-form-group>

                <b-form-group label="Your Phone:" label-for="phone" class="text-uppercase font-weight-bold">
                    <b-form-input
                        id="phone"
                        v-model="phone"
                        placeholder="Enter phone"
                        name="phone"
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    id="input-group-1"
                    label="Email address:"
                    label-for="input-1"
                    class="text-uppercase font-weight-bold"
                >
                    <b-form-input
                        id="email"
                        v-model="email"
                        placeholder="Enter email"
                        name="email"

                    ></b-form-input>
                </b-form-group>

                <b-form-group id="cities" label="City:" label-for="cities" class="text-uppercase font-weight-bold">
                    <b-form-select class='form-control' v-model='city' name="city_id">
                        <option v-for='data in cities' :value='data.id'>{{ data.title }}</option>
                    </b-form-select>
                </b-form-group>

                <b-form-group id="room_category" label="Room categories:" label-for="room_categories"
                              class="text-uppercase font-weight-bold">
                    <b-form-select class='form-control' v-model='room_category' name="room_category_id">
                        <option v-for='data in room_categories' :value='data.id'>{{ data.title }}</option>
                    </b-form-select>
                </b-form-group>

                <b-form-group label="Subject:" label-for="subject" class="text-uppercase font-weight-bold">
                    <b-form-input
                        id="subject"
                        v-model="subject"
                        placeholder="Enter subject"
                        name="subject"

                    ></b-form-input>
                </b-form-group>

                <b-form-group id="messages" label="Your Message:" label-for="Message"
                              class="text-uppercase font-weight-bold">
                    <b-form-textarea
                        rows="3"
                        id="message"
                        v-model="message"
                        placeholder="Enter message"
                        name="message"
                    ></b-form-textarea>
                </b-form-group>
                <div v-if="errors.length">
                    <b-alert show>
                        <ul>
                            <li v-for="error in errors">{{ error }}</li>
                        </ul>
                    </b-alert>
                </div>

                <b-alert
                    v-if="!errors.length"
                    variant="warning"
                    dismissible
                    fade
                    :show="showDismissibleAlert"
                    @dismissed="showDismissibleAlert=false"
                >
                    Send!
                </b-alert>
                <div class="row">
                    <b-button  @click="showDismissibleAlert=true" type="submit" variant="primary" class="mx-auto px-3">Submit</b-button>
                </div>
            </b-form>
        </div>
    </div>
</template>

<script>
import axios from "axios"

export default {
    data() {
        return {
            email: '',
            first_name: '',
            last_name: '',
            subject: '',
            phone: '',
            city: 0,
            cities: [],
            room_category: 0,
            room_categories: [],
            message: '',

            showDismissibleAlert: false,

            errors: {
                first_name: [],
                last_name: [],
                subject: [],
                email: [],
                phone: [],
                cities: [],
                room_categories: [],
                message: [],
            },
        }
    },
    methods: {
        getCities: function () {
            axios.get('/api/cities')
                .then(function (response) {
                    this.cities = response.data;
                }.bind(this));
        },
        getRoomCategories: function () {
            axios.get('/api/room_categories')
                .then(function (response) {
                    this.room_categories = response.data;
                }.bind(this));
        },
        onSubmit() {
            axios({
                method: 'post',
                url: 'http://127.0.0.1:8000/api/consultation_requests',
                data: {
                    first_name: this.first_name,
                    last_name: this.last_name,
                    email: this.email,
                    phone: this.phone,
                    subject: this.subject,
                    city_id: this.city,
                    room_category_id: this.room_category,
                    message: this.message
                }
            }).then(() => {
                showDismissibleAlert: true;
            });

            this.errors = [];

            if (!this.first_name) {
                this.errors.push('Name required.');
            }
            if (!this.last_name) {
                this.errors.push('Surname required.');
            }
            if (!this.phone) {
                this.errors.push('Phone required.');
            }
            if (!this.email) {
                this.errors.push('Email required.');
            } else if (!this.validEmail(this.email)) {
                this.errors.push('Valid email required.');
            }
            if (!this.subject) {
                this.errors.push('subject required.');
            }
            if (!this.city) {
                this.errors.push('city required.');
            }
            if (!this.room_category) {
                this.errors.push('room category required.');
            }
            if (!this.message) {
                this.errors.push('message required.');
            }

            this.first_name = '';
            this.last_name = '';
            this.email = '';
            this.phone = '';
            this.subject = '';
            this.city = '';
            this.room_category = '';
            this.message = '';

        },
        validEmail: function (email) {
            let re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }
    },
    created: function () {
        this.getCities();
        this.getRoomCategories();
    },
}
</script>
