<template>
    <div>
        <div>
        <b-carousel
            v-model="slide"
            :interval="4000"
            fade
            indicators
            style="text-shadow: 1px 1px 2px #333;"
            @sliding-start="onSlideStart"
            @sliding-end="onSlideEnd"
        >
            <div class="carousel-caption d-flex text-left align-items-center left-position-class">
                <div class="row d-inline">
                    <h1>Interior design construction</h1>
                </div>
            </div>
            <b-carousel-slide class="img-slide" img-src="/storage/uploads/images/carousel1.jpg"></b-carousel-slide>
            <b-carousel-slide class="img-slide" img-src="/storage/uploads/images/carousel3.jpg"></b-carousel-slide>
            <b-carousel-slide class="img-slide" img-src="/storage/uploads/images/carousel4.jpg"></b-carousel-slide>
            <b-carousel-slide class="img-slide" img-src="/storage/uploads/images/carousel5.jpg"></b-carousel-slide>
            <b-carousel-slide class="img-slide" img-src="/storage/uploads/images/carousel2.jpg"></b-carousel-slide>
        </b-carousel>
        </div>
        <section class="section-margins">
            <div class="parallax parallax__aboutUs d-flex section-padding">
                <div class="primary-text">
                    <h2 class="mb-4">About us</h2>
                    <hr class="hr-effect ml-0">

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit earum
                        dignissimos, alias aut pariatur inventore.
                        Doloribus pariatur illo impedit accusantium exercitationem in eius harum fugit dicta, laborum hic odio,
                        dignissimos quibusdam. Saepe inventore temporibus placeat minima molestias beatae alias, asperiores recusandae
                        illo impedit, excepturi, eum unde cupiditate sunt vitae nemo quas atque. Facilis quis libero debitis aliquid
                        laboriosam hic illo exercitationem voluptate, recusandae similique mollitia reprehenderit dicta accusantium
                        consectetur optio distinctio est corrupti tempora possimus.</p>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            slide: 0,
            sliding: null
        }
    },
    methods: {
        onSlideStart(slide) {
            this.sliding = true
        },
        onSlideEnd(slide) {
            this.sliding = false
        }
    }
}
</script>

<style lang="scss">
@import 'resources/assets/front/sass/app.scss';
</style>
