<template>
    <div>
        <div class="parallax parallax__gallery">
            <div class="hero-center-text">
                <h2 class="hero-center-text__text">
                    PROJECTS
                </h2>
            </div>
        </div>

        <div class="container mt-5" v-for="room in rooms">
            <b-card class="mb-3">

                <b-card-text>
                    <h2 class="text-center"> {{room.title}} designs </h2>
                    <hr class="hr-effect">
                    <p class="text-center w-75 mx-auto mb-5">{{room.description}}</p>
                    <router-link class="nav-link btn btn-secondary col-3 mx-auto" :to="'/room_categories/' + room.id">See {{room.title}} projects</router-link>
                </b-card-text>
            </b-card>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    data: function(){
        return {
            designs: [],
            rooms: [],
        }
    },
    mounted() {
        this.loadDesigns();
        this.loadRooms();
    },
    methods: {
        loadDesigns: function(){
            axios.get('/api/designs')
                .then((response) => {
                    this.designs = response.data.data;
                })
                .catch(function(error){
                    console.log(error);
                });
        },
        loadRooms: function(){
            axios.get('/api/room_categories')
                .then((response) => {
                    this.rooms = response.data;
                })
                .catch(function(error){
                    console.log(error);
                });
        }
    }
}
</script>

<style lang="scss">
@import 'resources/assets/front/sass/app.scss';
</style>

