<template>
    <div>
        <section class="bg-success section-padding section-margins">

            <div class="container section-padding ml-0 pl-5">
                <div v-for="design in designs" class="box">
                    <img :src="'/storage/uploads/images/' + design.images[0].path" class="image-on-top">
                </div>
                <h4 class="p-0 text-dark">
                    PROJECT
                </h4>
                <h2 class="mt-0">
                    {{ project.data.title }}
                </h2>
            </div>

            <div class=" d-flex flex-row">
                <div class="col-9 container pl-5">
                    <p class="w-75 text-left pb-5">
                        {{ project.data.description }}
                    </p>
                    <router-link class="btn btn__design btn__margins" to="/consultation">get consultation</router-link>
                </div>

                <div class="d-flex flex-column col-3  p-0">
                    <p class="m-0">
                        Year: {{ project.data.year }}
                    </p>
                    <hr>
                    <p>
                        Project author: {{ project.data.author }}
                    </p>
                </div>
            </div>

            <b-container class="p-4">
                <b-row class="row d-flex mb-5">
                    <b-col v-for="img in project.data.images" :key="img.id" class="galleryTransitionHover col-4">
                        <div class="d-flex flex-column mb-5 ">
                            <div class="geeks rounded">
                                <b-img v-bind:src="'/storage/uploads/images/' + img.path"
                                       class="rounded w-100 galleryTransition">
                                </b-img>
                            </div>
                        </div>
                    </b-col>
                </b-row>
            </b-container>
        </section>
    </div>
</template>

<script>

import axios from "axios";

export default {
    data() {
        return {
            id: this.$route.params.id,
            project: {},
            designs: [],

        }
    },
    created() {
        this.$http.get('http://127.0.0.1:8000/api/designs/' + this.id).then(function (data) {
            console.log(data);
            this.project = data.body;
        })
    },
    mounted() {
        this.loadDesigns();
    },
    methods: {
        loadDesigns: function () {
            axios.get('http://127.0.0.1:8000/api/designs/' + this.id)
                .then((response) => {
                    this.designs = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
    }
}

</script>

