<template>
    <div>
<!--            <div>-->
<!--                <h2>{{roomCategories.title}}</h2>-->
<!--            </div>-->
        <div class="container">
            <div class="row d-flex my-5">
                <div class="galleryTransitionHover col-4" v-for="design in designs">
                    <div class="d-flex flex-column mb-5 ">
                        <div class="geeks rounded w-100">
                            <img :src="'/storage/uploads/images/' + design.images[0].path" class="rounded w-100 galleryTransition">
                        </div>
                        <h5 class="pt-3 ">{{ design.title }}</h5>
                        <router-link class="nav-link btn btn-secondary" :to="'/projects/' + design.id">About project
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    data: function () {
        return {
            designs: [],
            roomCategories: '',
        }
    },
    mounted() {
        this.loadDesigns();
    },
    methods: {
        loadDesigns: function () {
            axios.get('/api/designs' + (this.$route.params.id ? ('?category=' + this.$route.params.id) : ''))
                .then((response) => {
                    this.designs = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
    }
}
</script>

<style lang="scss">
@import 'resources/assets/front/sass/app.scss';
</style>
