//Date-picker styling
.ui-datepicker-calendar {
    display: none;
}
.ui-datepicker-prev {
    display: none;
}
.ui-datepicker-next {
    display: none;
}
.ui-datepicker-month {
    display: none;
}
.ui-datepicker-year {
    float: none!important;
    border: none;
    border-radius: 2px;
    padding: 3px;
}
.ui-datepicker-current{
    display: none!important;
}

