.btn-primary {
  background: #0c5460;
  border: #0c5460 1px solid;
}
.btn-primary:hover {
  background: #0f6674;
  border: #0f6674 1px solid;
}

.btn-actions {
  background: #2d698c;
  border: #2d698c 1px solid;
  color: white;
}
.btn-actions:hover {
  background: #1d6fa5;
  border: #1d6fa5 1px solid;
  color: white;
}

tbody {
  counter-reset: rowNumber;
}

tbody tr::before {
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber);
  text-align: left;
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
}

tr.clickable-row {
  cursor: pointer;
}

.container-img {
  max-width: 500px;
}

dl, ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.imgPreview img {
  padding: 8px;
  max-width: 100px;
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  height: 100vh;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9023984594) 0%, rgba(255, 255, 255, 0.7455357143) 32%, rgba(243, 246, 246, 0) 100%), url("/images/carousel1.jpg");
}
