//footer
footer {
    background-color: rgb(245, 245, 245);
}

.footer-menu {
    text-decoration: none;
    margin-right: 5px;
    font-weight: 500;

    &:not(:last-child)::after {
        content: " |";
    }
}

.footer-logo {
    position: relative;
    font-size: x-large;
    text-align: left;
}

ul.footer_list {
    list-style: none;
    padding-left: 0px;
}

ul.footer_list li {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.6;
    font-weight: 500;
}

ul.footer_list li.phone {
    font-size: 22px;
    color: rgba(0, 0, 0, 1);
}

.footer_copyright p {
    font-size: 12px;
    color: rgb(0, 0, 0, 0.5);
    padding-top: 20px;
}

.footer__partners img {
    float: right;
    margin: 10px auto;
    max-width: 100%;
}
