//slide
.img-slide {
    height: 85vh;
    background-size: cover;
}

//sections
.section-margins {
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.left-position-class {
    left: 115px;
    height: 85%;
}

//about us section
.parallax {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

    &__aboutUs {
        height: 60vh;
        background-image: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0.9023984593837535) 0%,
                rgba(255, 255, 255, 0.7455357142857143) 32%,
                rgba(243, 246, 246, 0) 100%
        ), url("/images/carousel4.jpg");
    }
}

//primary text
.primary-text {
    width: 50%;
    text-align: left;
    padding-left: 15vw;
}

//buttons
.btn {
    &__moreInfo {
        font-family: $title-font;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 0;
        letter-spacing: 1.5px;
        font-size: 18.6px;
    }

    &__margins {
        margin-bottom: 25px;
    }

    &__moreInfo:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 90%;
        background: rgb(20, 19, 19);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    &__moreInfo:hover:after {
        width: 100%;
        left: 23%;
    }

    &__design {
        font-family: $h1-font3;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        background-color: rgb(223, 223, 223);
        padding: 10px;
    }

    &__design:hover {
        background-color: rgb(88, 148, 180);
        color: white;
    }
}

//hr
hr {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    clear: both;
    display: block;
    width: 100%;
    height: 1px;
}

.hr-effect {
    width: 65px;
    height: 3px;
    background-color: rgb(179, 179, 179);
    margin: auto;
    margin-bottom: 60px;
    margin-top: 0;
}

//navbar
.logo {
    display: inline-block;
    height: 45px;
}

.navbar {
    font-size: 0.7 * $rem;
}

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    line-height: 1.5 * $rem;
    color: rgb(17, 17, 17);
}


