.image-on-top {
    //position: absolute;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
    box-shadow: 5px 5px #ccc8c8;
}

.box {
    width: 450px;
    position: absolute;
    right: 84px;
    top: 112px;
}
