.parallax {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

    &__gallery {
        height: 70vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/images/hero.jpg");
    }
}

.hero-center-text {
    z-index: 1;
    position: absolute;
    // color: white;
    // font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);

    &__text {
        font-size: 60px;
        text-transform: uppercase;
        margin: auto;
        color: white;
    }
}

//image transition
.geeks {
    overflow: hidden;
    margin: 0 auto;
}

.galleryTransition {
    width: 300px;
    height: 250px;
    transition: 2s all ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}

//on mouse gallery transition before click
.galleryTransitionHover {
    &:hover {
        transition: 1s all ease-in-out;
        color: rgb(24, 1, 1);
    }
}
