//font styles
@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500&family=Crimson+Text:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");


h1 {
    text-transform: uppercase;
    font-family: $h1-font3;
    font-size: 3.7 * $rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-shadow: 3px 0px 7px rgba(22, 20, 14, 0.8), -3px 0px 7px rgba(22, 20, 14, 0.8),
    0px 4px 7px rgba(22, 20, 14, 0.8);
}

h2 {
    margin: 3 * $rem 0;
    text-align: left;
    font-family: $h2-font;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 40px;
}

h3 {
    margin: 3 * $rem 0;
    font-family: $h2-font;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1 * $rem;
}

h4 {
    font-family: $h2-font;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1 * $rem;
}

h5 {
    font-family: $h2-font;
    font-weight: 400;
}

h6 {
    font-size: 0.8 * $rem;
}
