<template>
    <footer>
        <hr class="m-0 mt-3 pb-3"/>

        <div class="mt-3 d-flex flex-row col-12">

            <div class="footer-logo col-4 pl-5">
                <img src="/storage/uploads/images/16x16_black2.png">
            </div>

            <div class=" col-4 d-flex flex-column align-items-center justify-content-center mx-auto">
                <div class="row justify-content-center">
                    <router-link class="footer-menu text-uppercase" to="/">Home</router-link>
                    <router-link class="footer-menu text-uppercase" to="/projects">Projects</router-link>
                    <router-link class="footer-menu text-uppercase" to="/consultation">Consultation</router-link>
                </div>
            </div>

            <div class="col-4 text-right pr-5">
                <h4>Contact Us</h4>
                <p>We're ready to help!</p>
                <ul class="footer_list">
                    <li>USA | CONSULTATION</li>
                    <li class="phone"><a href="tel:+37064448785">+1 555 555 5555</a></li>
                    <li>UK | BUHALTER</li>
                    <li class="phone"><a href="tel:+37064448785">+555 5 555 5555</a></li>
                </ul>

            </div>

        </div>

        <div class=" container footer_bottom d-flex flex-row pb-3">
            <div class="col-lg-3 col-md-12 footer_copyright">
                <p class="float-left">©2021 All rights reserved.</p>
            </div>
            <div class="col-md-9 col-xs-12 footer__partners"><img
                src="https://www.authenticireland.com/wp-content/uploads/2018/04/Bottom_Trust2.png"></div>
        </div>
    </footer>
</template>
