<template>
    <b-navbar toggleable="lg" class="container-fluid navbar navbar-expand-lg sticky-top position-relative pt-3 bg-white-transparent">
        <b-container>
            <b-navbar-brand to="/" class="navbar-brand"><img src="/storage/uploads/images/16x16_black2.png"></b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/">Home</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/projects">Projects</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/consultation">Consultation</router-link>
                    </li>
                </b-navbar-nav>
            </b-collapse>
        </b-container>
    </b-navbar>
</template>



